body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
video, canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
canvas {
    min-width: 50vw;
    min-height:50vh;
}

video {
    visibility: hidden;
}